<%- include('includes/head.ejs') %>
</head>
<body>

    <main>
        158 - ILLEGAL ACTIVITY
    </main>
    <p>Toto je stránka kde se zobrazí server error</p>
    <ul>
        <li>155</li>
        <li>158</li>
        <li>150</li>
    </ul>

<%- include('includes/end.ejs') %>