$color-blue-dark: #2C1F47;
$color-blue: #62B0DB;
$color-blue-light: #7CC4EC;

$color-yellow-dark: #9b9e79;
$color-yellow: #FAFFC0;

$color-black: black;
$color-black-overlay-light: rgba($color-black, .15);
$color-white: white;